@font-face {
  font-family: 'AmazonFont';
  src: local('AmazonEmber_Rg'),
    url(./fonts/Ember/AmazonEmber_Rg.ttf) format('truetype');
  font-display: swap;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}
body {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'AmazonFont';
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2;
  background-image: url(https://ik.imagekit.io/hawtariyzq/amazonion-background_LkMLGxdRmo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

$primary-color: #ff9900;
$secondary-color: #000000;
$tertiary-color: #31c4f3;
$tertiary-dark: #252021;
$amazon-grey: #999999;

a {
  color: inherit;
}

.container {
  height: 90vh;
  padding: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

//dropzone area
.dropzone {
  border: dotted 2px white;
  padding: 2rem;
  border-radius: 0 0 40px 40px;

  &:hover {
    cursor: pointer;
  }

  &__header {
    background-color: yellow;
  }

  &__description {
    text-transform: uppercase;
    font-size: 2.1vw;

    span {
      display: block;
      text-align: center;
    }
  }
}

//chart dimensions
.chart {
  height: 60%;
  width: 50%;
  background: white;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  animation: fadeIn 1s ease-in;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.chart:hover {
  -webkit-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

//chart buttons
.chart-year-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 4rem;
  align-items: center;
  justify-content: center;

  &__button {
    padding: 1rem;
    border-radius: 1rem;

    &:focus,
    &:hover {
      background-color: $primary-color;
    }
  }
}

.pie-chart {
  height: 60%;
  width: 50%;
  position: relative;

  &__details {
    // background-color: blue;
    position: absolute;
    top: 49%;
    left: 50%;

    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    text-align: center;
    // This is important to preserve the chart interactivity
    pointer-events: none;

    &--header {
      font-weight: 900;
    }
    &--number {
      font-size: 9rem;
      line-height: 0.9;
    }
    &--detail {
      font-size: 1.3rem;
    }
  }
}

.welcome-container {
  -webkit-animation: bounce-7 1.4s cubic-bezier(0.28, 0.84, 0.42, 1);
  animation: bounce-7 1.4s cubic-bezier(0.28, 0.84, 0.42, 1);
}

.welcome-container-out {
  position: absolute;
  -webkit-animation: bounce-7-out 1s cubic-bezier(0.28, 0.84, 0.42, 1);
  animation: bounce-7-out 1s cubic-bezier(0.28, 0.84, 0.42, 1);
  opacity: 0;
  z-index: -100;
}

.welcome-modal {
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  color: white;
  border-radius: 40px;
  background-color: rgba($tertiary-dark, 0.4);
  -webkit-box-shadow: 1rem 1rem 1.8rem #bebebe, -1rem -1rem 1.8rem #ffffff;
  box-shadow: 1rem 1rem 1.8rem #bebebe, -1rem -1rem 1.8rem #ffffff;

  @supports (
    ((-webkit-backdrop-filter: blur(1rem)) or (backdrop-filter: blur(1rem)))
  ) {
    -webkit-animation: blur 3s ease-in;
    animation: blur 3s ease-in;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }

  &__header {
    font-size: 5rem;
    text-align: center;
    padding: 1rem;
    color: white;
  }
  &__mini-header {
    font-size: 3.5rem;
    text-align: center;
    padding: 1rem;
    color: $primary-color;
  }
  &__paragraph {
    font-size: 3rem;
    padding: 1rem;
  }
  &__steps {
    padding: 1rem;
    font-size: 2rem;

    list-style-type: none;
    &::before {
      content: '\200B'; /* add zero-width space */
      position: absolute; /* ensures it doesn't cause a gap */
    }

    &--step {
      &-link {
        color: $primary-color;
      }
    }
  }
  &__button-container {
    text-align: center;

    &--close-button {
      padding: 0.5rem;
    }
  }
}

@-webkit-keyframes bounce-7 {
  0% {
    -webkit-transform: scale(1, 1) translateY(0);
    transform: scale(1, 1) translateY(0);
    opacity: 0.1;
  }
  10% {
    -webkit-transform: scale(1.1, 0.9) translateY(0);
    transform: scale(1.1, 0.9) translateY(0);
  }
  30% {
    -webkit-transform: scale(0.9, 1.1) translateY(-100px);
    transform: scale(0.9, 1.1) translateY(-100px);
  }
  50% {
    -webkit-transform: scale(1.05, 0.95) translateY(0);
    transform: scale(1.05, 0.95) translateY(0);
  }
  57% {
    -webkit-transform: scale(1, 1) translateY(-7px);
    transform: scale(1, 1) translateY(-7px);
  }
  64% {
    -webkit-transform: scale(1, 1) translateY(0);
    transform: scale(1, 1) translateY(0);
  }
  100% {
    -webkit-transform: scale(1, 1) translateY(0);
    transform: scale(1, 1) translateY(0);
    opacity: 1;
  }
}

@keyframes bounce-7 {
  0% {
    -webkit-transform: scale(1, 1) translateY(0);
    transform: scale(1, 1) translateY(0);
    opacity: 0.1;
  }
  10% {
    -webkit-transform: scale(1.1, 0.9) translateY(0);
    transform: scale(1.1, 0.9) translateY(0);
  }
  30% {
    -webkit-transform: scale(0.9, 1.1) translateY(-100px);
    transform: scale(0.9, 1.1) translateY(-100px);
  }
  50% {
    -webkit-transform: scale(1.05, 0.95) translateY(0);
    transform: scale(1.05, 0.95) translateY(0);
  }
  57% {
    -webkit-transform: scale(1, 1) translateY(-7px);
    transform: scale(1, 1) translateY(-7px);
  }
  64% {
    -webkit-transform: scale(1, 1) translateY(0);
    transform: scale(1, 1) translateY(0);
  }
  100% {
    -webkit-transform: scale(1, 1) translateY(0);
    transform: scale(1, 1) translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes bounce-7-out {
  0% {
    -webkit-transform: scale(1, 1) translateY(0);
    transform: scale(1, 1) translateY(0);
    opacity: 1;
  }
  10% {
    -webkit-transform: scale(1.1, 0.9) translateY(0);
    transform: scale(1.1, 0.9) translateY(0);
  }
  30% {
    -webkit-transform: scale(0.9, 1.1) translateY(-100px);
    transform: scale(0.9, 1.1) translateY(-100px);
  }
  50% {
    -webkit-transform: scale(1.05, 0.95) translateY(0);
    transform: scale(1.05, 0.95) translateY(0);
  }
  57% {
    -webkit-transform: scale(1, 1) translateY(-7px);
    transform: scale(1, 1) translateY(-7px);
  }
  64% {
    -webkit-transform: scale(1, 1) translateY(0);
    transform: scale(1, 1) translateY(0);
  }
  100% {
    -webkit-transform: scale(1, 1) translateY(0);
    transform: scale(1, 1) translateY(0);
    opacity: 0;
  }
}

@keyframes bounce-7-out {
  0% {
    -webkit-transform: scale(1, 1) translateY(0);
    transform: scale(1, 1) translateY(0);
    opacity: 1;
  }
  10% {
    -webkit-transform: scale(1.1, 0.9) translateY(0);
    transform: scale(1.1, 0.9) translateY(0);
  }
  30% {
    -webkit-transform: scale(0.9, 1.1) translateY(-100px);
    transform: scale(0.9, 1.1) translateY(-100px);
  }
  50% {
    -webkit-transform: scale(1.05, 0.95) translateY(0);
    transform: scale(1.05, 0.95) translateY(0);
  }
  57% {
    -webkit-transform: scale(1, 1) translateY(-7px);
    transform: scale(1, 1) translateY(-7px);
  }
  64% {
    -webkit-transform: scale(1, 1) translateY(0);
    transform: scale(1, 1) translateY(0);
  }
  100% {
    -webkit-transform: scale(1, 1) translateY(0);
    transform: scale(1, 1) translateY(0);
    opacity: 0;
  }
}

@-webkit-keyframes blur {
  0% {
    -webkit-backdrop-filter: blur(0rem);
    backdrop-filter: blur(0rem);
  }
  50% {
    -webkit-backdrop-filter: blur(0.5rem);
    backdrop-filter: blur(0.5rem);
  }
  100% {
    -webkit-backdrop-filter: blur(1rem);
    backdrop-filter: blur(1rem);
  }
}

@keyframes blur {
  0% {
    -webkit-backdrop-filter: blur(0rem);
    backdrop-filter: blur(0rem);
  }
  50% {
    -webkit-backdrop-filter: blur(0.5rem);
    backdrop-filter: blur(0.5rem);
  }
  100% {
    -webkit-backdrop-filter: blur(1rem);
    backdrop-filter: blur(1rem);
  }
}
