@font-face {
  font-family: 'AmazonFont';
  src: local('AmazonEmber_Rg'),
    url(./fonts/Ember/AmazonEmber_Rg.ttf) format('truetype');
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}
body {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'AmazonFont';
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2;
  background-image: url(https://images.unsplash.com/photo-1557899563-1940fc95709c?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1051&q=80);
  background-repeat: no-repeat;
  background-size: cover;
}

$primary-color: #ff9900;
$secondary-color: #000000;
$tertiary-color: #31c4f3;
$tertiary-dark: #252021;
$amazon-grey: #999999;

a {
  color: inherit;
}

.container {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

//dropzone area
.dropzone {
  border: dotted 2px white;
  padding: 2rem;
  border-radius: 0 0 40px 40px;

  &:hover {
    cursor: pointer;
  }

  &__header {
    background-color: yellow;
  }

  &__description {
    text-transform: uppercase;
    font-size: 2.1vw;

    span {
      display: block;
      text-align: center;
    }
  }
}

//chart dimensions
.chart {
  height: 50vh;
  width: 60vw;
  background: white;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.chart:hover {
  -webkit-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

//chart buttons
.chart-year-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 4rem;

  &__button {
    padding: 1rem;
    border-radius: 1rem;

    &:focus,
    &:hover {
      background-color: $primary-color;
    }
  }
}

.welcome-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.welcome-modal {
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  color: white;
  border-radius: 40px;
  background-color: rgba($tertiary-dark, 0.4);
  -webkit-box-shadow: 1rem 1rem 1.8rem #bebebe, -1rem -1rem 1.8rem #ffffff;
  box-shadow: 1rem 1rem 1.8rem #bebebe, -1rem -1rem 1.8rem #ffffff;

  &__header {
    font-size: 5rem;
    text-align: center;
    padding: 1rem;
    color: white;
  }
  &__mini-header {
    font-size: 3.5rem;
    text-align: center;
    padding: 1rem;
    color: $primary-color;
  }
  &__paragraph {
    font-size: 3rem;
    padding: 1rem;
  }
  &__steps {
    padding: 1rem;
    font-size: 2rem;

    list-style-type: none;
    &::before {
      content: '\200B'; /* add zero-width space */
      position: absolute; /* ensures it doesn't cause a gap */
    }

    &--step {
      &-link {
        color: $primary-color;
      }
    }
  }
  &__button-container {
    text-align: center;

    &--close-button {
      padding: 0.5rem;
    }
  }
}
